body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
}

a {
  color: #333;
}

a:hover {
  color: teal;
}

.noDependents {
  margin-left: 2rem;
}

.homeBtn {
  margin-top: 3rem;
}
